.opacity-1 {
	opacity: 0.4;
}
.opacity-2 {
	opacity: 0.5;
}
.opacity-3 {
	opacity: 0.6;
}
.opacity-4 {
	opacity: 0.7;
}
.name {
	font-family: "Ubuntu Condensed";
}
.title {
	font-size: 1.5rem;
}

.messages {
	margin: 1rem 0 0 0;
	padding: 0 2rem;
	max-height: 60rem;
	overflow-y: auto;
}

.me {
	clear: both;
	margin-bottom: 2rem;
}
.dest {
	clear: both;
	margin-bottom: 2rem;
}

.message {
	float: right;
	border-radius: 2rem 2rem 0 2rem;
	padding: 0.8rem;
}
.message_dest {
	float: left;
	border-radius: 0 2rem 2rem 2rem;
	padding: 0.8rem;
}

.messages li time {
	clear: both;
	display: block;
	color: #555555;
	font-size: 0.7rem;
	padding-top: 0.2rem;
	margin-bottom: 1rem;
}

.dest > time {
	float: left;
}
.me > time {
	float: right;
}

.mt-n6,
.my-n6 {
	margin-top: -4rem !important;
}

/* Pour sm */
@media (min-width: 576px) {
	.title {
		font-size: 1.5rem;
	}
}

/* Pour md */
@media (min-width: 768px) {
	.title {
		font-size: 1.8rem;
	}
}

/* Pour lg */
@media (min-width: 992px) {

	.title {
		font-size: 1.9rem;
	}

	.mt-lg-10,
	.my-lg-10 {
  	margin-top: 3rem !important;
	}
}

/* Pour xl très grand */
@media (min-width: 1200px) {}