
.opacity-1 {
	opacity: 0.4;
}
.opacity-2 {
	opacity: 0.5;
}
.opacity-3 {
	opacity: 0.6;
}
.opacity-4 {
	opacity: 0.7;
}
.name {
	font-family: "Ubuntu Condensed";
}

.bg-set {
	background-color: #dddddd;
}

footer > div > p > a:hover {
	background-color: white;
	border-radius: 50%;
}
footer > div > p > a {
	padding: 10px;
}

div > div > p > a {
	padding: 14px;
}


p > img {
	height: 340px;
	width: 300px;
}

.letter-spacing-2 {
	letter-spacing: 1px;
}

.mt-n6,
.my-n6 {
	margin-top: -4rem !important;
}

.table .thead-primary th {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.title {
	font-size: 1.5rem;
}

/* Pour sm */
@media (min-width: 576px) {}

/* Pour md */
@media (min-width: 768px) {}

/* Pour lg */
@media (min-width: 992px) {

	.mt-lg-10,
	.my-lg-10 {
  	margin-top: 3rem !important;
	}

}

/* Pour xl très grand */
@media (min-width: 1200px) {}